.userForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 20px;
}

.userForm__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userForm__button {
  width: 100px;
}
